.p-Home.ServicesHeading{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.ProjectsHeading {
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox49{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox52{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.Accordion3.accordion{
  background-color: white;
}

.p-Home.Accordion3.accordion-content{
  background-color: b;
}

.p-Home.TextBox60{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-Home.Flex70{
  background: linear-gradient(
    to bottom, 
    #ffffff 0%, 
    #ffffff 70%, 
    #000000 70%, 
    #000000 100%
  );
}

.p-Home.Flex107{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.p-Home.TextBox63{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox80{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-Home.Button6{
  background-image: linear-gradient(to left, rgb(210, 127, 245), rgb(236, 143, 50));
  
}
.p-Home.Button18{
  background-image: linear-gradient(to left, rgb(210, 127, 245), rgb(236, 143, 50));
  
}



.name{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.quotes{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
}

.designation{
  color: black;
  font-size: 20px;
}

.review{
  font-size: 50px;
  color: black;
}

.p-Home.TextBox100{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox97{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox94{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox91{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox17{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.TextBox104{
  background: -webkit-linear-gradient(left, rgb(210, 127, 245), rgb(236, 143, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}